  .a-loader-title {
    color: black;
  }

  div#text {
    position: absolute;
    left: 0px; 
    top: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 100%;
    z-index: 2;
}
#exitbutton {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 6px;
    border: 1px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 2;
}
#overlay.legacy-ar-mode,
:xr-overlay {
    user-select: none;
}
#overlay.legacy-ar-mode #exitbutton,
:xr-overlay #exitbutton {
    display: initial;
}

  .topnav {
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }


